input.submit, input.continue, input.cancel, input.search, input.myhabbo-edit, input.save, input.new, input.subscribe, a.continue {
	color: black;
	background-color: white;
	font-weight: bold;
	border: 2px solid black;
	border-bottom-width: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
}

a.continue {
	text-decoration: none;
	padding: 2px;
}

input.submit {
}

input.continue, input.save {
	color: white;
	border-color: #194800;
	background: #3ba800 url(../images/button_icons.gif) no-repeat 95% 4px;
	padding-right: 22px;
}

input.save {
	background-position: 95% -155px;
	padding-right: 25px;
}

input.cancel {
	color: white;
	border-color: #54000a;
	background: #e2001a url(../images/button_icons.gif) no-repeat 95% -26px;
	padding-right: 22px;
}

input.search {
	background: white url(../images/button_icons.gif) no-repeat 50% -68px;
	padding: 1px 22px 1px 0;
}

input.new {
	background: white url(../images/button_icons.gif) no-repeat 95% -114px;
    padding-right: 22px;
}

input.myhabbo-edit {
	background: #888888 url(../images/myhabbo_icons.png) no-repeat 3px -283px;
	padding-left: 20px;
	font-weight: normal;
	color: white;
}

input.login:disabled, input.cancel:disabled {
	background-color: #ffcd0a;
	border-color: #f29400;
}

input.submit:disabled {
	border-color: #666;
	color: #666;
}

input.continue:disabled {
	border-color: #46C700;
	background-color: #95FF5C;
}

#splash-message-button, #send-friend-invite-button, #purchase-group-button {
    float: right;    
}

#cancel-friend-invite-link {
    float: left;
}

.invitation-buttons {
    margin-top: .5em;
}

a.new-button {
	margin: 0 0 5px 10px;
	display: block;
	float: right;
	height: 25px;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
    white-space:nowrap;
}

a.new-button.disabled-button, a.new-button:disabled {
	cursor: default;
	-moz-opacity: .5;
	opacity: .50;
	filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/* hide this from IE6 */
html > body a.new-button.fill, html > body a.new-button.fill b {
	display: block;
	float: none;
}

a.new-button b {
	float: left;
	padding: 5px 17px 4px 20px; 
	font-size: 11px; 
	height: 17px;
	margin-right: 3px;
	background: transparent url(../images/new_button.png) no-repeat -3px 0;
	color: #000 !important;
	font-weight: bold;
	text-align: center;
	display: inline;
}


a.new-button:hover { text-decoration: none; }
a.new-button:hover b { background-position: -3px -25px; }
a.new-button.disabled-button:hover b { background-position: -3px 0; }

a.new-button i {
	position: absolute;
	right: 0;
	top: 0;
	width: 3px; 
	height: 25px; 
	background: transparent url(../images/new_button.png) no-repeat 0px 0px;
}

/* red background ------------------------------ */
 
a.new-button.red-button b {
	background-position: -3px -100px;
	color: #fff !important;
}

a.new-button.red-button i {
	background-position: 0px -100px;
}

a.new-button.red-button:hover b {
	background-position: -3px -125px;
}

/* green background ------------------------------ */
 
a.new-button.green-button b {
	background-position: -3px -150px;
	color: #fff !important;
}

a.new-button.green-button i {
	background-position: 0px -150px;
}

a.new-button.green-button:hover b {
	background-position: -3px -175px;
}

/* dark background ------------------------------ */
a.new-button.dark-button b {
	background-position: -3px -50px;
	color: #fff !important;
}

a.new-button.dark-button i {
	background-position: 0px -50px;
}

a.new-button.dark-button:hover b {
	background-position: -3px -75px;
}

/* icons --------------------------------------- */

a.new-button.edit-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px -193px;
	margin-right: 5px;
}

a.new-button.edit-icon b {
	padding-left: 10px;
}

a.new-button.save-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px -96px;
	margin-right: 5px;
}

a.new-button.save-icon b {
	padding-left: 10px;
}

a.new-button.cancel-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px -145px;
	margin-right: 5px;
}

a.new-button.cancel-icon b {
	padding-left: 10px;
}

a.new-button.search-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px 0px;
	margin-right: 5px;
}

a.new-button.search-icon b {
	padding-left: 10px;
	padding-right: 3px;
}

a.new-button.envelope-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px -49px;
	margin-right: 5px;
}

a.new-button.envelope-icon b {
	padding-left: 10px;
	padding-right: 3px;
}

a.new-button.purse-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px -241px;
	margin-right: 5px;
}

a.new-button.purse-icon b {
	padding-left: 10px;
}

a.new-button.newtopic-icon {
	margin-left: 0;	
}

a.new-button.newtopic-icon span {
	float: left;
	display: inline;
	height: 16px;
	width: 16px;
	background: transparent url(../images/button_icons2.png) no-repeat 0px -289px;
	margin-right: 5px;
}

a.new-button.newtopic-icon b {
	padding-left: 10px;
}

/* enter-btn */

.enter-btn a, .enter-btn span {
    float: left;
    background: transparent url(../images/personal_info/enter_button.png) no-repeat -9px 0;
    height: 49px;
    text-align: center;
    line-height: 47px;
    padding: 0 26px 0 19px;
    font-size: 14px;
    position: relative;
    color: #fff;
}

.enter-btn span {
    padding-right: 10px;    
    background-position: -9px -98px;
}

.enter-btn:hover a {
    background-position: -9px -49px;
    text-decoration: none;
}

.enter-btn:hover b {
    background-position: 0 -49px;   
}

.enter-btn a i {
    background: transparent url(../images/personal_info/flashy_arrow.gif) no-repeat 0 50%;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    top: 13px;
    line-height: 1px;
    height: 1px;
    font-size: 1px;
}

.enter-btn b {
    float: left;
    background: transparent url(../images/personal_info/enter_button.png) no-repeat 0 0;
    height: 49px;
    width: 9px;
}

.enter-btn.closed b {
    background-position: 0 -98px;
}

.enter-btn.closed span {
    background-position: -9px -98px;
    padding-right: 10px;
    color: #fff;        
}

.enter-btn.closed a i {
    display: none;  
}


.enter-btn.closed b {
    background-position: 0 -98px;
}