/.idea/
/.gradle/

/build/
/api/build/
/argon2/build/
/dao/build/
/db/build/
/game/build/
/page/build/
/session/build/
/templating/build/
/web/build/

/web/src/main/resources/www/
/web/src/main/resources/www-tpl/default-en/
